<p>Formulário de Cadastro de Livro</p>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome</label>
    <input type="text" class="form-control" id="Nome">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Autor</label>
    <input type="text" class="form-control" id="Autor">
</div>


<div align="right"><a asp-controller="Usuario" asp-action="Cadastro" type="button" class="btn btn-success btn-sm"><i class="fa fa-save" style="margin-right: 10px;"></i>Cadastrar</a>&nbsp;&nbsp;  <a asp-controller="Usuario" asp-action="Index" type="button" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-left" style="margin-right: 10px;"></i>Voltar</a></div>